<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smart Energy Investment Dashboard</title>
    <link rel="shortcut icon" href="/img/favicon.ico?v=2"> 
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css">
    <link rel="stylesheet" href="lib/leaflet.defaultextent/leaflet.defaultextent.css">
    <link rel="stylesheet" type="text/css" href="lib/geodash/geodash.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/{{name}}.css?v={{version}}">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <a href="http://energy.maryland.gov" class="subtitle">Maryland Energy Administration</a>
          <a href="#home"><h1 class="full">Smart Energy Investment Dashboard</h1></a>
          <a href="#home"><h1 class="small">Smart Energy</h1></a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#home">Home</a></li>
          <li><a href="#renewable">Renewable Energy</a></li>
          <li><a href="#efficiency">Energy Efficiency</a></li>
          <li><a href="#transportation">Transportation</a></li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container-fluid">
      <div class="dashboard"></div>
    </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="left">
            <p class="text-muted">Phone: (410) 260-7655 | Toll free phone: (800) 72-ENERGY | Fax: (410) 974-2250</p>
            <p class="text-muted">Address: 60 West Street, Suite 300, Annapolis, MD 21401 | Email: meainfo@energy.state.md.us</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="right">
            <p class="text-muted">Site created by <a href="http://esrgc.org">ESRGC</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="lib/handlebars.runtime-v2.0.0.js"></script>
  <script src="lib/lodash.compat.min.js"></script>
  <script src="lib/backbone-min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="lib/leaflet.markercluster.js"></script>
  <script src="lib/leaflet.defaultextent/leaflet.defaultextent.js"></script>
  <!--[if lt IE 9]>
  <script src="lib/geodash/geodash.ie8.min.js?v={{version}}" charset="utf-8"></script>
  <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!-->
  <script src="lib/geodash/geodash.min.js?v={{version}}"></script>
  <!--<![endif]-->
  <script src="js/min/{{name}}.min.js?v={{version}}"></script>
</body>
</html>