<div class="map-project" style="background: {{color}}">
  <ul class="list-unstyled">
    <li><b>Program Name:</b> <a href="{{link}}">{{program_name}}</a></li>
    <li><b>Project Name:</b> {{project_name}}</li>
    <li><b>Sector:</b> {{sector}}</li>
    <li><b>MEA Contribution:</b> {{mea_award}}</li>
    <li><b>Other State Contributions:</b> {{other_agency_dollars}}</li>
    <li><b>Total Project Cost:</b> {{total_project_cost}}</li>
    <li><b>Investment Leverage:</b> {{investment_leverage}}</li>
    <li><b>Electricity Savings (kWh):</b> {{electricity_savings_kwh}}</li>
    <li><b>CO2 Emissions Reductions:</b> {{co2_emissions_reductions_tons}} tons</li>
    {{#notes}}<li><b>Notes:</b> {{.}}</li>{{/notes}}
  </ul>
</div>