<div class="map-project" style="background: {{color}}">
  <ul class="list-unstyled">
    <li><b>Technology:</b> {{technology}}</li>
    <li><b>Program Name:</b> 
      {{#if link}}<a href="{{link}}" target="_blank">{{program_name}}</a>{{else}}{{program_name}}{{/if}}
    </li>
    {{#if project_name}}<li><b>Project Name:</b> {{project_name}}</li>{{/if}}
    <li><b>MEA Contribution:</b> {{mea_award}}</li>
    {{#if total_project_cost}}<li><b>Total Project Cost:</b> {{total_project_cost}}</li>{{/if}}
    {{#if investment_leverage}}<li><b>Investment Leverage:</b> {{investment_leverage}}</li>{{/if}}
    <li><b>Capacity:</b> {{capacity}} {{capacity_units}}</li>
    {{#if notes}}<li><b>Notes:</b> {{notes}}</li>{{/if}}
  </ul>
</div>