<div class="map-project" style="background: {{color}}">
  <ul class="list-unstyled">
    {{#charging_fueling_station_technology}}<li><b>Charging Station Technology:</b> {{.}}</li>{{/charging_fueling_station_technology}}
    {{#vehicle_technology}}<li><b>Vehicle Technology:</b> {{.}}</li>{{/vehicle_technology}}
    <li><b>Program Name:</b> <a href="{{link}}">{{program_name}}</a></li>
    <li><b>Project Name:</b> {{project_name}}</li>
    <li><b>MEA Contribution:</b> {{mea_award}}</li>
    <li><b>Other State Contributions:</b> {{other_agency_dollars}}</li>
    <li><b>Total Project Cost:</b> {{total_project_cost}}</li>
    <li><b>Investment Leverage:</b> {{investment_leverage}}</li>
    <li><b>Gallons of Gasoline Equivalent Avoided:</b> {{gallons_of_gasoline_equivalent_avoided}} {{capacity_units}}</li>
    <li><b>Notes:</b> {{notes}}</li>
  </ul>
</div>